body {
    font-family: Tahoma, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    direction: rtl; /* جهت نوشتاری راست به چپ */
    padding: 20px;
}

header h1 {
    color: #5a2e99; /* رنگ بنفش */
    margin-bottom: 30px;
}

/* استایل دهی به گالری برای چیدمان افقی */
.gallery {
    display: flex;
    flex-wrap: wrap; /* اجازه شکستن خط در صورت کمبود جا */
    gap: 20px; /* فاصله بین آیتم‌ها */
    justify-content: center; /* مرکز قرار دادن آیتم‌ها */
    margin-bottom: 40px;
}

/* استایل دهی به هر ظرف عکس */
.image-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* حداکثر عرض برای هر عکس */
    text-align: center;
}

/* استایل دهی به تگ عکس */
/* استایل دهی به تگ عکس */
.image-container img {
    width: 100%; /* تصویر اندازه ظرف خود را پر کند */
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    margin-bottom: 10px;
}
.image-container p {
    font-weight: bold;
    color: #723c99;
    margin: 5px 0 0 0;
}

footer {
    margin-top: 20px;
    color: #666;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
